<a href="https://colab.research.google.com/github/Atishay3825/102316056_UCS420/blob/main/Assignment2_102316056.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1.i
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.append(200)
L.append(300)
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]

In [2]:

#1.iii
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.sort()
print(L)

[10, 20, 30, 40, 50, 60, 70, 80]

In [3]:
#1.iv
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.sort(reverse=True)
print(L)

[80, 70, 60, 50, 40, 30, 20, 10]

In [4]:
#2.i
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
max_score = max(scores)
print(max_score, scores.index(max_score))

92 5

In [5]:
#2.ii
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
min_score = min(scores)
print(min_score, scores.count(min_score))

45 2

In [6]:
#2.iii
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
reversed_scores = list(scores[::-1])
print(reversed_scores)

[45, 58, 92, 89, 45.4, 76, 89.5, 45]

In [7]:
#2.iv
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
num = int(input("Enter a score to check: "))
if num in scores:
    print(scores.index(num))
else:
    print("Not present")

Enter a score to check: 5
Not present

In [8]:
#3.i
import random
numbers = [random.randint(100, 900) for _ in range(100)]
odds = []
evens = []
primes = []
for num in numbers:
    if num % 2 != 0:
        odds.append(num)
    else:
        evens.append(num)
    is_prime = True
    if num < 2:
        is_prime = False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        primes.append(num)
print("Odd numbers:", odds)
print("Even numbers:", evens)
print("Prime numbers:", primes)

Odd numbers: [825, 493, 865, 583, 749, 805, 271, 547, 365, 459, 415, 279, 105, 409, 639, 441, 381, 331, 195, 163, 591, 717, 493, 845, 675, 599, 719, 727, 279, 409, 249, 369, 681, 489, 867, 743, 203, 661, 381, 431, 523, 861, 793, 113, 765, 847, 755, 103, 821, 445, 567, 143]
Even numbers: [532, 464, 488, 776, 498, 694, 684, 780, 352, 756, 252, 304, 800, 190, 388, 206, 376, 660, 832, 348, 560, 640, 626, 884, 398, 310, 614, 364, 832, 276, 578, 162, 178, 482, 276, 494, 542, 462, 234, 510, 650, 868, 862, 494, 622, 756, 812, 388]
Prime numbers: [271, 547, 409, 331, 163, 599, 719, 727, 409, 743, 661, 431, 523, 113, 103, 821]

In [9]:
#4.i
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print(A.union(B))

{34, 45, 78, 23, 56, 90}

In [10]:
#4.ii
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print(A.intersection(B))

{90, 78}

In [11]:
#4.iii
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print(A.symmetric_difference(B))

{34, 45, 23, 56}

In [12]:
#4.iv
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print(A.issubset(B))
print(B.issuperset(A))

False
False

In [13]:
#4.v
A = {34, 56, 78, 90}
X = int(input("Enter a score to remove from A: "))
if X in A:
    A.remove(X)
    print(A)
else:
    print("Not present in A")

Enter a score to remove from A: 34
{56, 90, 78}

In [17]:
#5
locations = {"name": "kelly", "age": 25, "salary": 8000, "city": "New York"}
locations["location"] = locations.pop("city")
print(locations)

{'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}

In [15]:
#1.ii
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.remove(10)
L.remove(30)
print(L)

[20, 40, 50, 60, 70, 80]