<a href="https://colab.research.google.com/github/Atishay3825/102316056_UCS420/blob/main/Assignment3_102316056.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Q1:
import pandas as pd

data = {
    "Tid": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "Refund": ["Yes", "No", "No", "Yes", "No", "No", "Yes", "No", "No", "No"],
    "Marital Status": ["Single", "Married", "Single", "Married", "Divorced", "Married", "Divorced", "Single", "Married", "Single"],
    "Taxable Income": ["125K", "100K", "70K", "120K", "95K", "60K", "220K", "85K", "75K", "90K"],
    "Cheat": ["No", "No", "No", "No", "Yes", "No", "No", "Yes", "No", "Yes"]
}

df = pd.DataFrame(data)
print(df)

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
1    2     No        Married           100K    No
2    3     No         Single            70K    No
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No
9   10     No         Single            90K   Yes

In [ ]:
#Q2:
rows = df.loc[[0, 4, 7, 8]]
print(rows)

In [ ]:
#Q3:
# Select rows from index 3 to 7
r1 = df.iloc[3:8]
print(r1)

# Select rows from index 4 to 8 and columns 2 to 4
r2 = df.iloc[4:9, 2:5]
print(r2)

# Select all rows with column index 1 to 3 (including 3)
r3 = df.iloc[:, 1:4]
print(r3)

In [ ]:
#q4:
iris_df = pd.read_csv("iris.csv")
print(iris_df.head())

In [ ]:

#q5:
iris_df = iris_df.drop(index=4)
iris_df = iris_df.drop(iris_df.columns[3], axis=1)
print(iris_df)

In [ ]:
#q6:import pandas as pd

# Creating the Employee Dataset
data_q6 = {
    "Employee_ID": [101, 102, 103, 104, 105],
    "Name": ["Alice", "Bob", "Charlie", "Diana", "Edward"],
    "Department": ["HR", "IT", "IT", "Marketing", "Sales"],
    "Age": [29, 34, 41, 28, 38],
    "Salary": [50000, 70000, 65000, 55000, 60000],
    "Years_of_Experience": [4, 8, 10, 3, 12],
    "Joining_Date": ["2020-03-15", "2017-07-19", "2013-06-01", "2021-02-10", "2010-11-25"],
    "Gender": ["Female", "Male", "Male", "Female", "Male"],
    "Bonus": [5000, 7000, 6000, 4500, 5000],
    "Rating": [4.5, 4.0, 3.8, 4.7, 3.5]
}

df_q6 = pd.DataFrame(data_q6)

# (a) Shape of the dataset
print("Dataset Shape:", df_q6.shape)

# (b) Summary of the dataset
print("\nDataset Info:")
df_q6.info()

# (c) Generate descriptive statistics
print("\nDescriptive Statistics:")
print(df_q6.describe())

# (d) Display the first 5 rows and last 3 rows
print("\nFirst 5 Rows:")
print(df_q6.head())

print("\nLast 3 Rows:")
print(df_q6.tail(3))

# (e) Calculate required statistics
print("\nAverage Salary:", df_q6["Salary"].mean())
print("Total Bonus Paid:", df_q6["Bonus"].sum())
print("Youngest Employee's Age:", df_q6["Age"].min())
print("Highest Performance Rating:", df_q6["Rating"].max())

# (f) Sort by Salary in descending order
df_sorted = df_q6.sort_values(by="Salary", ascending=False)
print("\nData sorted by Salary:\n", df_sorted)

# (g) Categorize employees based on Rating
def categorize_performance(rating):
    if rating >= 4.5:
        return "Excellent"
    elif rating >= 4.0:
        return "Good"
    else:
        return "Average"

df_q6["Performance"] = df_q6["Rating"].apply(categorize_performance)
print("\nPerformance Categorization:\n", df_q6[["Name", "Rating", "Performance"]])

# (h) Identify missing values
print("\nMissing Values:\n", df_q6.isnull().sum())

# (i) Rename 'Employee_ID' to 'ID'
df_q6.rename(columns={"Employee_ID": "ID"}, inplace=True)

# (j) Find employees with more than 5 years of experience and in IT
df_experienced = df_q6[df_q6["Years_of_Experience"] > 5]
df_it = df_q6[df_q6["Department"] == "IT"]
print("\nEmployees with more than 5 years of experience:\n", df_experienced)
print("\nEmployees in IT Department:\n", df_it)

# (k) Add 'Tax' column (10% deduction from Salary)
df_q6["Tax"] = df_q6["Salary"] * 0.10
print("\nData with Tax Column:\n", df_q6)

# (l) Save the modified dataset to a new CSV file
df_q6.to_csv("modified_employees.csv", index=False)
print("\nModified dataset saved to 'modified_employees.csv'")