<a href="https://colab.research.google.com/github/Atishay3825/102316056_UCS420/blob/main/Assignment1_102316056.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1.1
print("ATISHAY")
print("ATISHAY")
print("ATISHAY")

ATISHAY
ATISHAY
ATISHAY

In [2]:

#6.2
def sum_of_primes(n):
    def is_prime(num):
        if num < 2:
            return False
        for i in range(2, num):
            if num % i == 0:
                return False
        return True
    total = 0
    for x in range(1, n + 1):
        if is_prime(x):
            total += x
    return total
n = int(input("Enter a number: "))
print(sum_of_primes(n))

Enter a number: 5
10

In [3]:

#6.1
def sum_of_odds(n):
    total = 0
    for x in range(1, n + 1):
        if x % 2 != 0:
            total += x
    return total
n = int(input("Enter a number: "))
print(sum_of_odds(n))

Enter a number: 5
9

In [4]:
#5.3
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, num):
        if num % i == 0:
            return False
    return True
n = int(input("Enter a number: "))
total = 0
for x in range(1, n + 1):
    if is_prime(x):
        total += x
print(total)

Enter a number: 5
10

In [5]:
#2.1

print(3 + 5 + 7)

15

In [6]:
#2.2
print("Atishay" + " " + "Jain")

Atishay Jain

In [7]:
#4.1
for i in range(1, 11):
    print("7 x", i, "=", 7 * i)
for i in range(1, 11):
    print("9 x", i, "=", 9 * i)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [8]:
#4.2
n = int(input("Enter a number: "))
for i in range(1, 11):
    print(n, "x", i, "=", n * i)

Enter a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [9]:
#4.3
n = int(input("Enter a number: "))
total = 0
for i in range(1, n + 1):
    total += i
print(total)

Enter a number: 5
15

In [10]:
#5.1
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
if a > b and a > c:
    print(a)
elif b > c:
    print(b)
else:
    print(c)

Enter first number: 5
Enter second number: 2
Enter third number: 3
5

In [11]:
#5.2
n = int(input("Enter a number: "))
total = 0
for x in range(1, n + 1):
    if x % 7 == 0 and x % 9 == 0:
        total += x
print(total)

Enter a number: 5
0